{% load static %}

<link rel="stylesheet" href="{% static 'css/side nav.css' %}"><!--side navbar-->
<script src="{% static 'js/side nav.js' %}"></script><!--side-->
  

<div  >
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" >
          <a class="navbar-brand" href="#"><img src="{% static 'img/Logo1.jpg' %}" alt="" style="height: 35px"></a>

            <div id="mySidenav" class="sidenav" style="background-color: white;">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div style="margin-left: 33px;"><h3>Welocme</h3></div>
            <a href="#"><h6>About</h6></a>
            <a href="http://127.0.0.1:8000/admin/"><h6>Admin Login</h6></a>



            <a href="{%  url 'Rest_login' %}"><h6>Login Restaurant</h6></a>


            <a href="{%  url 'Register_Restaurant' %}"><h6>Add Your Restaurant</h6>
            </a>
            <a href="#"><h6>Contact</h6></a>
          </div>
          <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
          


          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                    <h4 class="mx-3  mt-2" style="color:darkgreen;
                    background-color: aqua;">OrderFood</h4>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 380px;">
            
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search Food" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">search</button>
            </form>
          </div>
          {% if user.is_authenticated %}

          <ul class="navbar-nav me-auto ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'cart_home' %}"><i class="bi bi-cart" style="margin-right: 10px;"></i>Cart</a>
            </li>
          </ul>
          <ul class="navbar-nav me-auto ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'User_Logout' %}">Logout</a>
            </li>
          </ul>

          
          {% else %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'User_Login' %}">Login</a>
            </li>
          </ul>
          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-1">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'Register' %}">Sign Up</a>
            </li>
          </ul>
          {% endif %}
        </div>
        
      </nav>
        
      
      
</div>

